@font-face {
  font-family: "Bantayog";
  src: url("../fonts/bantayog/Bantayog-Light.woff2") format("woff2"),
       url("../fonts/bantayog/Bantayog-Light.woff") format("woff"),
       url("../fonts/bantayog/Bantayog-Light.otf") format("otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Bantayog";
  src: url("../fonts/bantayog/Bantayog-Semilight.woff2") format("woff2"),
       url("../fonts/bantayog/Bantayog-Semilight.woff") format("woff"),
       url("../fonts/bantayog/Bantayog-Semilight.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bantayog";
  src: url("../fonts/bantayog/Bantayog-Regular.woff2") format("woff2"),
       url("../fonts/bantayog/Bantayog-Regular.woff") format("woff"),
       url("../fonts/bantayog/Bantayog-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Bantayog";
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  background: #fff url("../images/background.png") repeat fixed center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: rgb(237, 237, 237); 
  --red: rgb(211, 1, 28);
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--white);
  /* letter-spacing: 1px; */
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 18px;
}

hr {
  display: block;
  /* height: 8px; */
  border: 0;
  border-top: 16px solid #92663e;
  margin: 0;
  padding: 0;
}

.dp__top-landing {
  display: grid;
  height: 100vh;
  margin: 20px;
  align-content: center;
  justify-items: center;
  -webkit-align-content: center;
}

.dp__top-landing-logo{
  max-width: 40vw;
}

@media screen and (max-width: 768px) {
  .dp__top-landing-logo{
    max-width: 75vw;
  }
}

.dp__top-landing-center--info {
  display: grid;
  justify-items: center;
  text-align: center;
}

.dp__top-landing-center--info-top {
  line-height: 40px;
  margin-top: 32px
}

.dp__top-landing-center--info-bot {
  margin-top: 40px;
}

.dp__top-landing-center--info h1, 
.dp__top-landing-center--info p {
  margin: 0;
}

.dp__bot-landing {
  /* display: flex;
  justify-content: center; */
  /* background-color: rgba(0,0,0,0.5); */
  padding: 2em 0;
  position: relative;
}

#letter {
  /* position: absolute; */
  /* display: flex; */
  /* width: 50%; */
  /* min-height: calc((1vw + 1vh) * 75); */
  /* center page with absolute position */
  /* top: 0%; left: 50%; transform: translate(-50%, 0); */
  margin-top: 2em;
  margin-bottom: 0;
  width: 75%;
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
}

#letter h2 {
  color: black;
}

#letter p {
  font-size: 20px;
  color: black;
}

#parol-1 {
  height: 180px; 
  position: absolute; 
  top: 0; 
  right: 0; 
  margin: 2em 1em;
}

@media screen and (max-width: 940px) {
  #parol-1{
    height: 140px;
  }
}

#parol-2 {
  height: 240px; 
  position: absolute; 
  left: 0; 
  margin: 0 8em;
}

@media screen and (max-width: 768px) {
  #parol-2{
    margin: 0 1em;
  }
}

#attire{
  margin: 0 8em;
  text-align: right;
}

#filipiniana {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#barong {
  margin-top: 4px;
  width: 100%;
  justify-content: end;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.dp__attire-image {
  top: 10px;
  height: 240px;
  padding: 10px;
  box-shadow: 2px 3px 10px black, 0 0 10px #8a4d0f inset;
  background: #fffef0;
}

#details {
  display: grid;
  margin: 2em 8em;
  text-align: center;
}

#direction-button {
  text-decoration: none;
  color: var(--white);
}

#direction-button:hover {
  color: var(--red);
  /* box-shadow: 1px 0 10px var(--red); */
  font-weight: bold;
  text-decoration: underline wavy 1px var(--red);
}

#rsvp-button {
  width: 240px;
  padding: 16px 24px;
  background-color: var(--red);
  text-decoration: none;
  font-size: 20px;
  color: var(--white);
}

#rsvp-button:hover {
  box-shadow: 1px 0 10px var(--red);
}

@media screen and (max-width: 768px) {
  #attire {
    margin: 0 4em;
  }

  #details {
    margin: 2em 4em;
  }
}