@font-face {
  font-family: "Bantayog";
  src: url("../fonts/PPRaderWeb/Bantayog-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Bantayog";
  src: url("../fonts/PPRaderWeb/Bantayog-Semilight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bantayog";
  src: url("../fonts/PPRaderWeb/Bantayog-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Bantayog";
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: rgb(22, 155, 98); 
  /* #169b62 */
  --blue: rgb(0, 120, 191);
  /* #0078bf */
  --orange: rgb(228, 150, 28);
  /* #e4961c */
  --yellow: rgba(255, 248, 0);
  --red: rgba(255, 102, 94);
}