@font-face {
  font-family: "Bantayog";
  src: url("../fonts/PPRaderWeb/Bantayog-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Bantayog";
  src: url("../fonts/PPRaderWeb/Bantayog-Semilight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bantayog";
  src: url("../fonts/PPRaderWeb/Bantayog-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Bantayog";
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: rgba(62, 62, 62, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: rgb(22, 155, 98); 
  /* #169b62 */
  --blue: rgb(0, 120, 191);
  /* #0078bf */
  --orange: rgb(228, 150, 28);
  /* #e4961c */
  --yellow: rgba(255, 248, 0);
  --red: rgba(255, 102, 94);
}

.dp__top-landing {
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-items: center;
  -webkit-align-content: center;
}

.dp__top-landing-logo{
  width: 25vw;
}

.dp__top-landing-center--info {
  display: grid;
  justify-items: center;
  line-height: 0;
  margin-top: 12px;
}

.dp__top-landing-center--info h1, 
.dp__top-landing-center--info p {
  margin: 0;
}